[user]
    name = "Ryota Kobayashi"
    email = "38117745+kobar9568@users.noreply.github.com"
[color]
    ui = auto
[core]
    autoCRLF = false
    pager = "LESSCHARSET=utf-8 less"
[pull]
    rebase = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
